<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
  <body>
    {{>navbar}}

    <!-- Main Header  -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->

            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure>
                <img
                  src="images/404.png"
                  alt="image"
                  class="img-fluid"
                  title="about page"

                />
              </figure>
              <h1>
                {{eroorMessage}}
              </h1>
              <a href="/"><button>Back To Home Page</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section -->

    {{>footer}}
  </body>
</html>
